POSTGRES_USER=cinematch
POSTGRES_PASSWORD=cinematch123
POSTGRES_DB=cinematch
POSTGRES_HOST=localhost
POSTGRES_PORT=6432

SECRET_KEY=supersecretkeyforjwtdev
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30