# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp

# Логи и базы
*.log
*.db
*.sqlite

# Файлы окружения
.env
.env.local
.env.*.local

# Тесты и покрытие
.pytest_cache/
.coverage
htmlcov/
seed_data.py

# Миграции (если хотим держать в репозитории – не игнорируем, но обычно миграции коммитят)
# migrations/  # не игнорируем, но если вы не хотите хранить – раскомментируйте

# Docker
*.pid